.view_image{text-align: center;position: relative;line-height: 300px;}
.view_image img{
	max-height: 90%;

}
.view_image .next-image,.view_image .prev-image{text-indent: -99999px;display: inline-block;position: absolute;top: 45%;display: none;}
.view_image:hover .next-image,.view_image:hover .prev-image{display: block;}
.next-image:hover, .prev-image:hover{display: block;}
.view_image .next-image{background: url('../img/next.png');width: 28px;height: 59px;right: 20px;}
.view_image .prev-image{background: url('../img/back.png');width: 28px;height: 59px;left: 20px;}
.modal-resources .modal-body{overflow: hidden;}
iframe.resources{
	border:solid 0px #FFF;
	width:100%;	
	min-height: 330px;
}



/* PLUGIN RESOURCES */
@media (min-width: 1200px) { 
	.modal-resources{margin: 0 auto !important;left: 0 !important;right: 0 !important;}
}
/* PLUGIN RESOURCES */

@media (max-width: 768px) {
	.title_form > h2, .title_form > form {display: block;}
	.title_form > h2, .title_form > form  > .form-group{float: left;width: 70%;}
	.title_form > h2, .title_form > form  > .btn{float: left;}
}